# TERM PAPER TEAM DVD TECH-2

## PART 1 - reading in the data

In [12]:
#importing all the libraries needed for the tasks.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

### TASK 1

In [22]:
#reading in the data
DATA_PATH = 'data'
data = []
months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
years = ['2013','2014','2015','2016','2017','2018','2019','2020','2021','2022','2023','2024']
for x in years:
    for y in months:
        try:
            filename = f'{DATA_PATH}/SCE-{y}-{x}.csv'
            df = pd.read_csv(filename,sep=';')
            print(f'Processing file {filename}')
            data.append(df)
        except FileNotFoundError:
            print(f'Mising file {filename}')
            continue

Mising file data/SCE-Jan-2013.csv
Mising file data/SCE-Feb-2013.csv
Mising file data/SCE-Mar-2013.csv
Mising file data/SCE-Apr-2013.csv
Mising file data/SCE-May-2013.csv
Processing file data/SCE-Jun-2013.csv
Processing file data/SCE-Jul-2013.csv
Processing file data/SCE-Aug-2013.csv
Processing file data/SCE-Sep-2013.csv
Processing file data/SCE-Oct-2013.csv
Processing file data/SCE-Nov-2013.csv
Processing file data/SCE-Dec-2013.csv
Processing file data/SCE-Jan-2014.csv
Processing file data/SCE-Feb-2014.csv
Processing file data/SCE-Mar-2014.csv
Processing file data/SCE-Apr-2014.csv
Processing file data/SCE-May-2014.csv
Processing file data/SCE-Jun-2014.csv
Processing file data/SCE-Jul-2014.csv
Processing file data/SCE-Aug-2014.csv
Processing file data/SCE-Sep-2014.csv
Processing file data/SCE-Oct-2014.csv
Processing file data/SCE-Nov-2014.csv
Processing file data/SCE-Dec-2014.csv
Processing file data/SCE-Jan-2015.csv
Processing file data/SCE-Feb-2015.csv
Processing file data/SCE-Mar-2015.csv
Processing file data/SCE-Apr-2015.csv
Processing file data/SCE-May-2015.csv
Processing file data/SCE-Jun-2015.csv
Processing file data/SCE-Jul-2015.csv
Processing file data/SCE-Aug-2015.csv
Processing file data/SCE-Sep-2015.csv
Processing file data/SCE-Oct-2015.csv
Processing file data/SCE-Nov-2015.csv
Processing file data/SCE-Dec-2015.csv
Processing file data/SCE-Jan-2016.csv
Processing file data/SCE-Feb-2016.csv
Processing file data/SCE-Mar-2016.csv
Processing file data/SCE-Apr-2016.csv
Processing file data/SCE-May-2016.csv
Processing file data/SCE-Jun-2016.csv
Processing file data/SCE-Jul-2016.csv
Processing file data/SCE-Aug-2016.csv
Processing file data/SCE-Sep-2016.csv
Processing file data/SCE-Oct-2016.csv
Processing file data/SCE-Nov-2016.csv
Processing file data/SCE-Dec-2016.csv
Processing file data/SCE-Jan-2017.csv
Processing file data/SCE-Feb-2017.csv
Processing file data/SCE-Mar-2017.csv
Processing file data/SCE-Apr-2017.csv
Processing file data/SCE-May-2017.csv
Processing file data/SCE-Jun-2017.csv
Processing file data/SCE-Jul-2017.csv
Processing file data/SCE-Aug-2017.csv
Processing file data/SCE-Sep-2017.csv
Processing file data/SCE-Oct-2017.csv
Processing file data/SCE-Nov-2017.csv
Processing file data/SCE-Dec-2017.csv
Processing file data/SCE-Jan-2018.csv
Processing file data/SCE-Feb-2018.csv
Processing file data/SCE-Mar-2018.csv
Processing file data/SCE-Apr-2018.csv
Processing file data/SCE-May-2018.csv
Processing file data/SCE-Jun-2018.csv
Processing file data/SCE-Jul-2018.csv
Processing file data/SCE-Aug-2018.csv
Processing file data/SCE-Sep-2018.csv
Processing file data/SCE-Oct-2018.csv
Processing file data/SCE-Nov-2018.csv
Processing file data/SCE-Dec-2018.csv
Processing file data/SCE-Jan-2019.csv
Processing file data/SCE-Feb-2019.csv
Processing file data/SCE-Mar-2019.csv
Processing file data/SCE-Apr-2019.csv
Processing file data/SCE-May-2019.csv
Processing file data/SCE-Jun-2019.csv
Processing file data/SCE-Jul-2019.csv
Processing file data/SCE-Aug-2019.csv
Processing file data/SCE-Sep-2019.csv
Processing file data/SCE-Oct-2019.csv
Processing file data/SCE-Nov-2019.csv
Processing file data/SCE-Dec-2019.csv
Processing file data/SCE-Jan-2020.csv
Processing file data/SCE-Feb-2020.csv
Processing file data/SCE-Mar-2020.csv
Processing file data/SCE-Apr-2020.csv
Processing file data/SCE-May-2020.csv
Processing file data/SCE-Jun-2020.csv
Processing file data/SCE-Jul-2020.csv
Processing file data/SCE-Aug-2020.csv
Processing file data/SCE-Sep-2020.csv
Processing file data/SCE-Oct-2020.csv
Processing file data/SCE-Nov-2020.csv
Processing file data/SCE-Dec-2020.csv
Processing file data/SCE-Jan-2021.csv
Processing file data/SCE-Feb-2021.csv
Processing file data/SCE-Mar-2021.csv
Processing file data/SCE-Apr-2021.csv
Processing file data/SCE-May-2021.csv
Processing file data/SCE-Jun-2021.csv
Processing file data/SCE-Jul-2021.csv
Processing file data/SCE-Aug-2021.csv
Processing file data/SCE-Sep-2021.csv
Processing file data/SCE-Oct-2021.csv
Processing file data/SCE-Nov-2021.csv
Processing file data/SCE-Dec-2021.csv
Processing file data/SCE-Jan-2022.csv
Processing file data/SCE-Feb-2022.csv
Processing file data/SCE-Mar-2022.csv
Processing file data/SCE-Apr-2022.csv
Processing file data/SCE-May-2022.csv
Processing file data/SCE-Jun-2022.csv
Processing file data/SCE-Jul-2022.csv
Processing file data/SCE-Aug-2022.csv
Processing file data/SCE-Sep-2022.csv
Processing file data/SCE-Oct-2022.csv
Processing file data/SCE-Nov-2022.csv
Processing file data/SCE-Dec-2022.csv
Processing file data/SCE-Jan-2023.csv
Processing file data/SCE-Feb-2023.csv
Processing file data/SCE-Mar-2023.csv
Processing file data/SCE-Apr-2023.csv
Processing file data/SCE-May-2023.csv
Processing file data/SCE-Jun-2023.csv
Processing file data/SCE-Jul-2023.csv
Processing file data/SCE-Aug-2023.csv
Processing file data/SCE-Sep-2023.csv
Processing file data/SCE-Oct-2023.csv
Processing file data/SCE-Nov-2023.csv
Processing file data/SCE-Dec-2023.csv
Processing file data/SCE-Jan-2024.csv
Processing file data/SCE-Feb-2024.csv
Processing file data/SCE-Mar-2024.csv
Processing file data/SCE-Apr-2024.csv
Processing file data/SCE-May-2024.csv
Processing file data/SCE-Jun-2024.csv
Processing file data/SCE-Jul-2024.csv
Processing file data/SCE-Aug-2024.csv
Processing file data/SCE-Sep-2024.csv
Processing file data/SCE-Oct-2024.csv
Processing file data/SCE-Nov-2024.csv
Processing file data/SCE-Dec-2024.csv

In [37]:
#merging all the dataframes in the data list into a single dataframe
df = pd.concat(data, ignore_index=True)
df

,userid,wid,date,weight,female,educ,age,hispanic,black,couple,...,num_lit_q3,num_lit_q3_correct,num_lit_q5,num_lit_q5_correct,num_lit_q6,num_lit_q6_correct,num_lit_q8,num_lit_q8_correct,num_lit_q9,num_lit_q9_correct
0,70000220,201306,2013-06-04,16.3,1.0,3.0,28.0,0.0,1.0,0.0,...,100.0,0.0,100.0,1.0,5.0,1.0,NaN,NaN,NaN,NaN
1,70000224,201306,2013-06-03,0.2,0.0,4.0,65.0,0.0,0.0,1.0,...,10.0,1.0,100.0,1.0,5.0,1.0,NaN,NaN,NaN,NaN
2,70000234,201306,2013-06-17,4.1,1.0,3.0,41.0,0.0,0.0,1.0,...,10.0,1.0,100.0,1.0,5.0,1.0,NaN,NaN,NaN,NaN
3,70000238,201306,2013-06-13,3.0,0.0,3.0,74.0,0.0,0.0,1.0,...,10.0,1.0,1.0,0.0,5.0,1.0,NaN,NaN,NaN,NaN
4,70000239,201306,2013-06-02,1.9,1.0,4.0,67.0,0.0,0.0,0.0,...,10.0,1.0,100.0,1.0,50.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176096,75025299,202412,2024-12-19,0.6,1.0,3.0,33.0,0.0,0.0,1.0,...,10.0,1.0,100.0,1.0,5.0,1.0,2.0,0.0,2.0,1.0
176097,75025320,202412,2024-12-05,0.8,1.0,4.0,56.0,1.0,0.0,0.0,...,10.0,1.0,100.0,1.0,5.0,1.0,3.0,1.0,2.0,1.0
176098,75025337,202412,2024-12-21,1.0,1.0,3.0,68.0,0.0,0.0,1.0,...,10.0,1.0,100.0,1.0,5.0,1.0,3.0,1.0,2.0,1.0
176099,75025373,202412,2024-12-09,2.4,1.0,2.0,58.0,0.0,0.0,0.0,...,10.0,1.0,100.0,1.0,1.0,0.0,3.0,1.0,2.0,1.0
176100,75025376,202412,2024-12-12,0.5,1.0,4.0,38.0,0.0,0.0,1.0,...,10.0,1.0,100.0,1.0,2.0,0.0,3.0,1.0,2.0,1.0

### TASK 2

In [38]:
# 2.1 number of unique individuals in the dataset
unique_ind = len(df['userid'].unique())
print(f'Number of unique individuals in the dataset: {unique_ind}')

Number of unique individuals in the dataset: 23369

In [39]:
#2.2 number of rows in the dataset
nrows = len(df)
print(f'Number of rows in the dataset: {nrows}')

Number of rows in the dataset: 176101

In [40]:
#2.3 number of unique survey waves
unique_wid = len(df['wid'].unique())
print(f'Number of unique survey waves: {unique_wid}')

Number of unique survey waves: 139

In [41]:
#2.4 The first and last dates observed in the dataset.
first = df['date'].head(1)
print(f'First date observed in the dataset: {first}')
last = df['date'].tail(1)
print(f'Last date observed in the dataset: {last}')

First date observed in the dataset: 0    2013-06-04
Name: date, dtype: object
Last date observed in the dataset: 176100    2024-12-12
Name: date, dtype: object

## PART 2 - data pre-processing

### TASK 1

In [ ]:
# fill missing numeracy variables(num_lit_X_correct where X is a number)

### TASK 2

In [ ]:
#2 drop all observationswith missing values
#1.for demographic variables(gender,age,education_level)

df = df.dropna(subset=['female','age','educ'])
df

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 175233 entries, 0 to 176100
Data columns (total 29 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   userid              175233 non-null  int64
 1   wid                 175233 non-null  int64
 2   date                175233 non-null  object
 3   weight              175211 non-null  float64
 4   female              175233 non-null  float64
 5   educ                175233 non-null  float64
 6   age                 175233 non-null  float64
 7   hispanic            175146 non-null  float64
 8   black               175233 non-null  float64
 9   couple              162489 non-null  float64
 10  num_kids            175205 non-null  float64
 11  owner               23204 non-null   float64
 12  inflation           174572 non-null  float64
 13  house_price_change  174939 non-null  float64
 14  prob_stocks_up      174282 non-null  float64
 15  num_lit_q1          23153 non-null   float64
 16  num_lit_q1_correct  23153 non-null   float64
 17  num_lit_q2          23124 non-null   float64
 18  num_lit_q2_correct  23124 non-null   float64
 19  num_lit_q3          23072 non-null   float64
 20  num_lit_q3_correct  23072 non-null   float64
 21  num_lit_q5          23095 non-null   float64
 22  num_lit_q5_correct  23095 non-null   float64
 23  num_lit_q6          23010 non-null   float64
 24  num_lit_q6_correct  23010 non-null   float64
 25  num_lit_q8          17902 non-null   float64
 26  num_lit_q8_correct  17902 non-null   float64
 27  num_lit_q9          17851 non-null   float64
 28  num_lit_q9_correct  17851 non-null   float64
dtypes: float64(26), int64(2), object(1)
memory usage: 40.1+ MB

In [49]:
#2.2  The three expectations questions about inflation, house price changes, and the stock market
df = df.dropna(subset=['inflation','house_price_change','prob_stocks_up'])
df

,userid,wid,date,weight,female,educ,age,hispanic,black,couple,...,num_lit_q3,num_lit_q3_correct,num_lit_q5,num_lit_q5_correct,num_lit_q6,num_lit_q6_correct,num_lit_q8,num_lit_q8_correct,num_lit_q9,num_lit_q9_correct
0,70000220,201306,2013-06-04,16.3,1.0,3.0,28.0,0.0,1.0,0.0,...,100.0,0.0,100.0,1.0,5.0,1.0,NaN,NaN,NaN,NaN
1,70000224,201306,2013-06-03,0.2,0.0,4.0,65.0,0.0,0.0,1.0,...,10.0,1.0,100.0,1.0,5.0,1.0,NaN,NaN,NaN,NaN
2,70000234,201306,2013-06-17,4.1,1.0,3.0,41.0,0.0,0.0,1.0,...,10.0,1.0,100.0,1.0,5.0,1.0,NaN,NaN,NaN,NaN
3,70000238,201306,2013-06-13,3.0,0.0,3.0,74.0,0.0,0.0,1.0,...,10.0,1.0,1.0,0.0,5.0,1.0,NaN,NaN,NaN,NaN
4,70000239,201306,2013-06-02,1.9,1.0,4.0,67.0,0.0,0.0,0.0,...,10.0,1.0,100.0,1.0,50.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176096,75025299,202412,2024-12-19,0.6,1.0,3.0,33.0,0.0,0.0,1.0,...,10.0,1.0,100.0,1.0,5.0,1.0,2.0,0.0,2.0,1.0
176097,75025320,202412,2024-12-05,0.8,1.0,4.0,56.0,1.0,0.0,0.0,...,10.0,1.0,100.0,1.0,5.0,1.0,3.0,1.0,2.0,1.0
176098,75025337,202412,2024-12-21,1.0,1.0,3.0,68.0,0.0,0.0,1.0,...,10.0,1.0,100.0,1.0,5.0,1.0,3.0,1.0,2.0,1.0
176099,75025373,202412,2024-12-09,2.4,1.0,2.0,58.0,0.0,0.0,0.0,...,10.0,1.0,100.0,1.0,1.0,0.0,3.0,1.0,2.0,1.0
176100,75025376,202412,2024-12-12,0.5,1.0,4.0,38.0,0.0,0.0,1.0,...,10.0,1.0,100.0,1.0,2.0,0.0,3.0,1.0,2.0,1.0

In [ ]:
#2.3 The seven numeracy questions (after you have forward-filled nonmissing values in step 1!)